* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.sidebar {
  background: #191718;
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  overflow: auto;
}
.sidebar ul li a {
  display: flex;
  justify-content: flex-start;
  padding: 14px 0px 11px 16px;
  border-bottom: 1px solid #5c5c5c;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  font-weight: 700;
}
.sidebar ul li a:hover {
  color: #ffffff;
  background: #5c5c5c;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  overflow: auto;
  /* text-align: center; */
}
.nccLogo {
  width: 310px;
  height: 122px;
  margin-bottom: 30px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin-bottom: 18px;
}
.main-content {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 129px;
}
.text-view {
  background-color: #efefef;
  padding: 38px 38px;
  margin-bottom: 40px;
}
.text-view p {
  text-align: center;
}
.bottom-content {
  margin-right: 50px;
}
.bottom-content:last-child {
  margin-right: 0px;
}
.bottom-content-wrapper {
  display: flex;
}
.bottom-content h3 {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.bottom-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.bottom-content img {
  width: 128px;
  height: 128px;
}
.img-wrapper {
  float: left;
}
.icon-menu {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon-menu {
  display: none;
}
.footer-wrapper {
  margin-left: 150px;
  padding-left: 129px;
  padding-top:30px;
  padding-bottom:30px;
  border-top: 1px solid #DEDEDE;
}
.footer-wrapper h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media only screen and (min-width: 1024px) {
.main-content{
  height:100vh;
}
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .main-content {
    margin-left: 0px;
    padding: 0px 40px;
    margin-right: 0px;
  }
  .bottom-content-wrapper {
    display: block;
  }
  .bottom-content {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .icon-menu {
    display: block;
  }
  .footer-wrapper{
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 739px) {
  .main-content {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
  }
  .nccLogo {
    width: 155px;
    height: 61px;
  }
  .bottom-content img {
    width: 64px;
    height: 64px;
  }
  .bottom-content h3 {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
  .bottom-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .bottom-content-wrapper {
    display: block;
  }
  .bottom-content {
    margin-bottom: 30px;
    margin-right: 0px;
    padding: 0px 10px;
  }
  .text-view p {
    text-align: start;
  }
  .icon-menu {
    display: block;
  }
  .footer-wrapper{
    margin-left: 0px;
    padding-left: 10px;
  }
}
